.button {
  display: inline-flex;
  text-decoration: none;
  font-family: Verlag bold, sans-serif;
  border-style: solid;
  border-width: 2px;
  border-radius: 2px;
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  outline: none;
  box-sizing: border-box;
  letter-spacing: 0.5px;
  vertical-align: middle;
  align-items: center;
}

.button--primary {
  color: #fff;
  background-color: #00239d;
  border-color: #00239d;
}
.button--primary:hover {
  background-color: #001d84;
  border-color: #001d84;
}

.button--light {
  color: #40404a;
  background-color: transparent;
  border-color: #40404a;
}
.button--light:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.button--link {
  color: #00239d;
  background-color: transparent;
  border-color: transparent;
}
.button--link:hover {
  background-color: #f2f2f2;
  border-color: #f2f2f2;
}

.button--medium {
  padding: 10px 30px;
  font-size: 0.875rem;
  line-height: 1.25rem;
  min-height: 44px;
}
