@tailwind base;

@layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }
  a {
    @apply underline;
    color: var(--blue-color-hex);
  }
  p {
    @apply mb-4;
  }
}

@tailwind components;
@tailwind utilities;

:root {
  --foreground-hex: #414141;
  --background-hex: #ffffff;
  --brand-color-hex: #0019af;
  --blue-color-hex: #006dfc;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-hex: #ffffff;
    --background-hex: #0f172a;
  }
}

body {
  color: var(--foreground-hex);
  background: var(--background-hex);
}
