@tailwind base;

@layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }
  a {
    @apply underline;
    color: rgb(var(--middle-blue-rgb));
  }
  p {
    @apply mb-4;
  }
}

@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 65, 65, 65; /* #414141 */
  --background-rgb: 255, 255, 255; /* #ffffff */

  --brand-blue-rgb: 0, 35, 157; /* #00239D */
  --dark-blue-rgb: 23, 28, 67; /* #171C43 */
  --middle-blue-rgb: 0, 106, 237; /* #006AED*/
  --pale-blue-rgb: 150, 197, 255; /* #96C5FF */
  --light-blue-rgb: 222, 237, 255; /* #DEEDFF */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255; /* #ffffff */
    --background-rgb: 15, 23, 42; /* #0f172a */
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}
